img{
  width: 400px;
  height: 500px;

  margin: 0 20px 20px 0;

  object-fit: cover;

  border: 10px solid palevioletred;
}

#previewer{
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color:rgba(0, 0, 0, 0.595);

  display: flex;
  justify-content: center;
  align-items: center;
}

body{

  
}


#previewer img{
 height: 90%;
 width: 90%;

 object-fit: contain;
 border: none;
}